.graphPaperDots {
    position: absolute;
    top: 6px;
    left: -1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blobIcon {
    position: relative;
    top: 0px;
    margin-right: 0px;
    margin-left: auto;
    z-index: 1;
}

.arrows {
    position: absolute;
    width: 1395px;
    height: 956.42px;
    left: -50px;
    top: 80px;
}

.quantifyingP {
    margin-block-start: 0;
    margin-block-end: 0;
}

.hoops {
    margin: 0;
}

.quantifyingHoopsB {
    position: absolute;
    top: 299px;
    left: 126px;
    font-size: 86px;
    letter-spacing: 0.01em;
    line-height: 87px;
    display: inline-block;
    color: #000;
    text-align: left;
    width: 495px;
    height: 236px;
    z-index: 1;
}

.rectangleButton {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: rgba(232, 158, 16, 0.88);
    top: 0;
    left: 0;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    width: 259px;
    height: 63px;
}

.seeOurWork {
    position: absolute;
    top: 4px;
    left: 1px;
    font-size: 38px;
    letter-spacing: 0.01em;
    display: inline-block;
    font-family: var(--font-open-sans);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 259px;
    height: 60px;
}

.workButton {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 516px;
    left: 131px;
    width: 260px;
    height: 64px;
    z-index: 1;
}

.span {
    font-size: 100px;
}

.landingPageDiv {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1000px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-open-sans);
}

.rectangleIntroCurve {
    position: absolute;
    width: 413px;
    height: 42px;
    left: -45px;
    top: 105px;
    background: #F2F0F0;
    border-radius: 120px;
    margin-bottom: 200px;
    margin-top: 30px;
    background-image: url("../../../public/curved-rectangle-page-intros.svg");
}
