.backgroundCircleIcon {
    position: absolute;
    top: 265px;
    left: 866px;
    width: 414px;
    height: 414px;
}

.blobIcon,
.graphPaperDots {
    position: absolute;
    top: 6px;
    left: 0;
    width: 1466px;
    height: 1064px;
}

/*left: 37.45%*/
.blobIcon {
    top: -132px;
    left: 585px;
    border-radius: 0px;
    width: 979px;
    height: 1000px;
}

.basketballIcon {
    position: absolute;
    top: 409px;
    left: 771.53px;
    width: 340px;
    height: 340px;
}

.ellipseIcon,
.ellipseIcon1,
.ellipseIcon2 {
    position: absolute;
    top: 268px;
    left: 1216px;
    width: 20px;
    height: 20px;
}

.ellipseIcon1,
.ellipseIcon2 {
    top: 286px;
    left: 1233px;
}

.ellipseIcon2 {
    top: 292px;
    left: 1209px;
}

.quantifyingP {
    margin-block-start: 0;
    margin-block-end: 0;
}

.hoops {
    margin: 0;
}

.quantifyingHoopsB {
    position: absolute;
    top: 299px;
    left: 126px;
    font-size: 86px;
    letter-spacing: 0.01em;
    line-height: 87px;
    display: inline-block;
    color: #000;
    text-align: left;
    width: 495px;
    height: 236px;
}

.arrowIcon,
.arrowIcon1,
.arrowIcon2 {
    position: absolute;
    top: 805px;
    left: 189.45px;
    width: 22.09px;
    height: 143.5px;
}

.arrowIcon1,
.arrowIcon2 {
    top: 304px;
    left: 689.45px;
    height: 106.5px;
}

.arrowIcon2 {
    top: 865.14px;
    left: 638.14px;
    width: 179.34px;
    height: 114.86px;
}

.arrowIcon3,
.arrowIcon4 {
    position: absolute;
    top: 896.45px;
    left: 1018px;
    width: 163.5px;
    height: 22.09px;
}

.arrowIcon4 {
    top: 217.67px;
    left: 58.5px;
    width: 243.75px;
    height: 51.51px;
}

.arrowIcon5,
.arrowIcon6 {
    position: absolute;
    top: 565.65px;
    left: 418.18px;
    width: 206.49px;
    height: 284.22px;
}

.arrowIcon6 {
    top: 587.53px;
    left: 0;
    width: 60.5px;
    height: 69.29px;
}

.arrowIcon7,
.giannisIcon {
    position: absolute;
    top: 75px;
    left: 875px;
    width: 309px;
    height: 330px;
}

.groupIcon, .rectangleButton {
    position: absolute;
    top: 360px;
    left: 1142px;
    width: 257px;
    height: 256.63px;
}

.rectangleButton {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: rgba(232, 158, 16, 0.88);
    top: 0;
    left: 0;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    width: 259px;
    height: 63px;
}

.seeOurWork {
    position: absolute;
    top: 4px;
    left: 1px;
    font-size: 38px;
    letter-spacing: 0.01em;
    display: inline-block;
    font-family: var(--font-open-sans);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 259px;
    height: 60px;
}

.workButton {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 516px;
    left: 131px;
    width: 260px;
    height: 64px;
}

.span {
    font-size: 100px;
}

.landingPageDiv {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1000px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-open-sans);
}

.rectangleIntroCurve {
    position: absolute;
    width: 413px;
    height: 42px;
    left: -45px;
    top: 105px;
    background: #F2F0F0;
    border-radius: 120px;
    margin-bottom: 200px;
    margin-top: 30px;
    background-image: url("../../../public/curved-rectangle-page-intros.svg");
}

.lebronIcon{
    position: absolute;
    width: 1319px;
    height: 236px;
    left: 53px;
    top: 356px;
}

