.lebronPanel {
    position: absolute;
    width: 225px;
    height: 284px;
    left: 4%;
    margin-left: 50px;
    top: 724px;
}

.russellPanel {
    position: absolute;
    width: 213px;
    height: 175px;
    left: 75.1%;
    top: 797px;
}

.lebronTextBubble {
    position: absolute;
    width: 300px;
    top: 1008px;
    left: 4%;

    background: #F2F0F0;
    border-radius: 16px;
}


@media (max-width: 1390px) {
    .lebronTextBubble {
      left: 0%;
    }
    .lebronPanel {
        left: 0%;
      }
}

.russellTextBubble {
    position: absolute;
    height: 126px;
    left: 69%;
    top: 967px;

    background: #F2F0F0;
    border-radius: 16px;
}

.headerPlayers {
    position: absolute;
    width: 448px;
    height: 256px;
    left: 8%;
    top: 105px;
}

.hofText {
    position: absolute;
    width: 820px;
    height: 113px;
    left: 45%;
    top: 207px;
    color: #E89E10;
}

@media (max-width: 1200px) {
    .hofText {
      left: 16%; /* Remove the min-width property */
    }
}

.questionText {
    position: absolute;
    width: 86%;
    height: 48px;
    left: 62px;
    top: 396px;

    /*font-family: 'Open Sans';*/
    font-style: italic;
    /*font-weight: 600;*/
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;
}

.descriptionText {
    position: absolute;
    width: 93%;
    height: 165px;
    left: 4.9%;
    top: 508px;

    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

.tabList {
    position: "absolute";
    top: 648px;
}

@media (max-width: 963px) {

    .descriptionText {
      top: 558px; /* Remove the min-width property */
    }

    .tabList {
        top: 668px;
    }
}

@media (max-width: 628px) {

    .descriptionText {
      top: 608px; /* Remove the min-width property */
    }

    .tabList {
        top: 718px;
    }
}

.rankingsTable {
    position: relative;
    width: 30%;
    height: 1650px; /* Adjust the height as needed */
    margin-top: 600px; /* Adjust the top margin as needed */
    min-width: 500px; /* Set a minimum width for the table */
  }

@media (max-width: 600px) {
    .rankingsTable {
      min-width: 400px; /* Remove the min-width property */
    }
}

.probsText {
    position: absolute;
    width: 1353px;
    height: 61px;
    left: 46px;
    top: 633px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    text-align: center;

    color: #000000;
}

.showMoreHStack {
    position: absolute;
    top: 2120px;
    width: 350px;
    height: 50px;
    left: 185px;
    border-radius: 16px;
}
  
.widerTable {
    width: 60%;
  }