.rectangleIntroCurve {
    position: absolute;
    width: 413px;
    height: 42px;
    left: -45px;
    top: 105px;
    background: #F2F0F0;
    border-radius: 120px;
    margin-bottom: 200px;
    margin-top: 30px;
}

.icons {
    left: 1273px;
    margin-top: -15px;
}

.icon {
    width: 27px;
    height: 27px;
  }