.rectangleIntroCurve {
    position: absolute;
    width: 413px;
    height: 42px;
    left: -45px;
    top: 105px;
    background: #F2F0F0;
    border-radius: 120px;
    margin-bottom: 200px;
    margin-top: 30px;
    background-image: url("../../public/curved-rectangle-page-intros.svg");
}

.githubIcon {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1318px;
    margin-top: -15px;
}

.gmailIcon {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1363px;
    margin-top: -15px;
}

.linkedinIcon {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1273px;
    margin-top: -15px;
}